/*----- [ FONTS ] -----*/

@font-face {
    font-family: Cormorant-Bold;
    src: url('../fonts/Cormorant/static/Cormorant-Bold.ttf'); 
}

@font-face {
    font-family: Cormorant-SemiBold;
    src: url('../fonts/Cormorant/static/Cormorant-SemiBold.ttf'); 
}

@font-face {
    font-family: Times-Regular;
    font-weight: 400;
    src: url('../fonts/Times/Times.ttf'); 
}

@font-face {
    font-family: Times-Bold;
    font-weight: 700;
    src: url('../fonts/Times/Times.ttf'); 
}

/*----- [ RESTYLE TAG ] -----*/

body {
    background-image: url(../img/fon_1.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

ul, li {list-style-type: none;}

a:hover {
	text-decoration: none;
	color: black;
}

.submenu {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

/*----- [SLIDER] -----*/

.slider {
	position: relative;
	width:700px;
}

.slider__check {
    position:absolute;
    clip:rect(0 0 0 0);
    overflow:hidden;
}

.slider__content {
    display:none;
    position:absolute;
    top:0;
    left:0;
}

.slider__label {
    margin-top: 550px;
    margin-bottom: 63px;
    overflow:hidden;
    display: inline-block;
    width: 10px;
    height: 10px;
    background:#BFBFBF;
    border-radius: 50%;
    cursor: pointer;
}

.slider__check:checked + .slider__label + .slider__content {
	display:block;
}

/* Current */
.slider__check:checked + .slider__label {
	background:#DBCAB7;
}

.arrow {
    width: 74%;
    margin-top: 100%;
    float: right;
    cursor: pointer;
}

.map {
    position: absolute;
    background: #fff;
    width: 469px;
    height: 224px;
}